.form-input {
    width: 26.25rem;
    height: 3rem;
    font-size: 16px;
    text-align: left; 
    border-color:#cccccc; 
    border-style:solid; 
    margin: 0.625rem auto 0.625rem auto;
    padding: 1rem 2rem 1rem 2rem; 
    border-width:1px; 
    border-radius:50px; 
    box-shadow:inset 0px 0px 6px 0px rgba(11,21,35,.15); 
}

::-webkit-input-placeholder{
    color: hsl(218, 28%, 13%);
}

:-ms-input-placeholde {
    color: hsl(218, 28%, 13%);
}
input ::placeholder {
    color: hsl(218, 28%, 13%);
}
.clearfix.footer-clear::before {
    background-color: hsl(216, 53%, 9%);
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
    .form-input {
        width: 100%;
        margin: auto;
        padding: auto;
    }
    
}